
.main{
    display: grid;
    row-gap: 2px;
    justify-content: space-around;
    row-gap: 20px;
    grid-template-columns: auto auto auto auto; 
    padding: 14px;
    background: white;
  }
  
  .movie{
    color: black;
    padding: 7px;
    font-weight: bold;
    text-align: start;
    /* width: 24%; */
    border-radius: 7px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }

  .movie img{
    border-radius: 7px;
    height: 42vh;
    width: 100%;
  }